select {
    background-color: black;
    position: absolute;
    right: 0%;
    margin: 10px;
}

ion-grid {
    display: block;
    height: 100%;
    touch-action: none !important;
}

ion-progress-bar {
    height: 3em;
    --background: #3880ff;
    --buffer-background: #242c3a;
    --progress-background: red;
}

.divider {
    color: red;
    position: relative;
    left: 50%;
}

ion-label {
    overflow: hidden;
}

.singleWord {
    margin-top: 40vh;
    width: fit-content;
    height: fit-content;
}

.progressBar {
    position: absolute;
    bottom: 0%;
    width: 95%;
}

.colOne {
    padding: 0;
    width: 10vw;
    float: right;
    margin-top: 40vh;
}

.colTwo {
    padding: 0;
    width: 90vw;
}