<ion-content (click)="run()">
    <ion-grid 
        (pinchout)="increaseFontSize()"
        (pinchin)="decreaseFontSize()"
        (panleft)="goBack()"
        (panright)="goForward( $event )">
        
        <ion-label style="display: block;">{{ currentProgress }}</ion-label>
        <select (change)="changeSpeed($event.target.value)"
           [(ngModel)]="selected"
           (click)="onEvent($event)">
            <option value=200>200wpm</option>
            <option value=300>300wpm</option>
            <option value=350>350wpm</option>
            <option value=400>400wpm</option>
            <option value=450>450wpm</option>
            <option value=500>500wpm</option>
            <option value=550>550wpm</option>
            <option value=600>600wpm</option>
            <option value=650>650wpm</option>
            <option value=700>700wpm</option>
            <option value=750>750wpm</option>
            <option value=800>800wpm</option>
            <option value=850>850wpm</option>
            <option value=900>900wpm</option>
            <option value=950>950wpm</option>
          </select>       
  
        <ion-row>
            <ion-col class="colOne" size="2">
                <ion-row style="float: right">
                    <ion-label [style.fontSize]="fontSize">{{ preText }}</ion-label>
                </ion-row>
            </ion-col>
            <ion-col class="colTwo" size="6">
                <div class="singleWord" [style.fontSize]="fontSize">
                    <ion-row>
                        <ion-label>
                        
                        <ion-label style="color: red;">{{ redText }}</ion-label>
                        <ion-label>{{ postText }}</ion-label>
                    </ion-label>
                    </ion-row>
                    <ion-row style="float: left;">
                        <ion-label class="divider" style="float: left">|</ion-label>
                    </ion-row>
                </div>
            </ion-col>
        </ion-row>
            
        <div class="progressBar">
            <ion-item>
                <ion-progress-bar [value]="progress"></ion-progress-bar>
            </ion-item>
        </div>
    </ion-grid>
</ion-content>